.options{
    margin-top: 1px;
    width: 7px;
    height: 0px;
    margin-left: 1px;
    border: solid;
    border-radius: 50px;
}
.option2:hover{
    border-radius: 30%;
    width: 20px;
    background-color: #2980b9;
}

.MainContainer{
    flex-direction: row;
    justify-content: center;
}
.boxes{
    width: auto;
      height: auto;
      margin: 10px;
}
.flex-containerMain{
    display: flex;
    align-items: center;
}
.itemR1 {
    margin-right: 20px;
    margin-bottom: 20px;
}


.leftSide{
    border: solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 8px;
    border-width: 0.5px;
    position: sticky;
    overflow-y: auto;
    height: 100px;
}
.rightSide{
    position: sticky;
    overflow-y: auto;
    height: 140vh;
    width: 590vh;
}
.icon {
    width: 24px;
    height: 24px;
}

.containers {
    display: flex;
    align-items: center;
}
.item {
    margin-right: 20px;
    margin-bottom: 20px;
}
.home{
    margin-top: -34px;
    margin-left: 50px;
    transition: transform 0.3s ease;
}
.home:hover{
    background-color: lightgrey;
    border-radius: 20px;
    width: fit-content;
    transform: scale(1.1);
}

.top{
    border: solid;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    width: fit-content;
}
.top2{
    border: solid;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    width: fit-content;
    margin-left: 30px;
    padding: 10px;
      transition: all 0.3s ease; 
}
.top3{
    width: fit-content;
    margin-left: 30px;
    padding: 10px;
      transition: all 0.3s ease; 
}


.channel{
    margin-top: -34px;
    margin-left: 50px;
    transition: transform 0.3s ease;
}

.channel:hover{
    background-color: lightcyan;
    border-radius: 20px;
    width: fit-content;
    transform: scale(1.1);
}


.Subscribtion{
    margin-top: -34px;
    margin-left: 50px;
    transition: transform 0.3s ease;
}
.Subscribtion:hover{
    background-color: lightsteelblue;
    border-radius: 20px;
    width: fit-content;
    transform: scale(1.1);
}


.profile{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}
.videos{
    margin-top: -22px;
    margin-left: 30px;
}
.itemR {
    margin: 10px;
}
.itemR2 {
    margin-right: 20px;
    margin-bottom: 20px;
}
.box{
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items:auto;
    transition: transform 0.3s ease;
    margin-left: auto;
    background-color: hsl(0, 50%, 99%);
}
.box:hover{
    background-color: hsl(0, 50%, 95%);
}
.boxAlign{
    margin-left: 10px;
    margin-bottom: 330px;  
    display: flex;
    flex-wrap: wrap; 
}
.hidden {
    display: none;
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease, height 0s linear 10s; 
}
.flex-container2{
    opacity: 1;
      transition: opacity 0.3s ease;
}
.headings{
    border: none;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2px;
    background-color: lightgreen;
}

#changeColorElement {
    background-color: #3498db; /* Initial color */
    cursor: pointer;
}

.hiddenMore {
display: contents;
opacity: 0;
height: 0;
transition: opacity 0.3s ease, height 0s linear 2s; 
}

.profileUser{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin-left: auto; /* This will push the photo to the far right */
    margin-top: auto; /* This will push the photo to the far right */
    display: block; /* Ensure it's treated as a block-level element */
}
.searchInput{
    padding: 10px;
    width: 500px;
    border-radius: 50px;
    text-align: center;
    border: none;
    background-color: antiquewhite;
}
.search{
    width: fit-content;
    padding: 10px;
    border: none;
    margin-left: -4px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: aquamarine;
}
.searchAll{
    border:none ;
    padding: 2px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Set a high z-index value */
}
.settings{
    width: fit-content;
    height:fit-content;
}
.headingsSettings{
    margin-top: 2px;
    border: none;
    padding: 2px;
    position: fixed;
    z-index: 9999; /* Set a high z-index value */
}
.boxes{
    border: solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 8px;
    width: 20%;
    position: sticky;
    overflow-y: auto;
    height: 100vh;
}
.boxesRight{
    border: dashed 1px rgb(0, 255, 85);
    position: sticky;
    overflow-y: auto;
    margin-left: 22%;
    margin-top: -50%;
}
